.weatherBg{
  background-image: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.weatherName{
  color:  white;
}

.weatherResult{
  margin: auto;
  width: 300px;
  height: 200px;
}

.weatherIcon{
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.weatherCity{
  margin-top: 8px;
  font-weight: bold;
}

.weatherTemp{
  font-size: 50px;
}